# Ignore dot files.
.*

# Ignore backup files
*.orig

# Ignore temporary editor files.
*.swp
*~

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Ignore files created by setup.py.
build
dist
MANIFEST

*.egg-info

# Built documentation.
docs/build/*

# Coverage report
htmlcov
