--only-binary PyQt5,numpy

setuptools
sphinx~=4.2.0
sphinx-rtd-theme
PyQt5~=5.9.2
AnyQt

# sphinx pins docutils version, but the installation in the RTD worker/config
# overrides it because docutils is also in our dependencies.
# https://docs.readthedocs.io/en/stable/faq.html#i-need-to-install-a-package-in-a-environment-with-pinned-versions
-e .